<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454004759004-e3b2k71pavhu3o37ts0ffcbpmm94k0th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454004759004-e3b2k71pavhu3o37ts0ffcbpmm94k0th</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>454004759004-if37fqse9j813lcthn2r54ae17mpjfc8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBB0Yo_sUB-belm_BuIQ-KkSw72pAFJJSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>454004759004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ngebon.app.com</string>
	<key>PROJECT_ID</key>
	<string>ngebon-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ngebon-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454004759004:ios:00afd5af7807337eb6d719</string>
</dict>
</plist>